<h1>Add a New Actor</h1>

<form action="http://localhost:3000/create_actor">
<label>Name:</label>
<input type="string" name="the_name">

<label>Date of Birth:</label>
<input type="string" name="the_dob">

<label>Biography:</label>
<input type="text" name="the_bio">

<label>Image URL:</label>
<input type="string" name="the_image">

<button>Add Actor</button>
</form>
